---
import { Button } from "@/components/ui/button";
import BaseLayout from "@/layouts/base-layout.astro";
---

<BaseLayout>
  <div class="flex min-h-[calc(100vh-7rem)] items-center justify-center">
    <Button>Hello</Button>
  </div>
</BaseLayout>
